<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">
 
<bean id="token" class="com.surya.beans.Token" scope="prototype">
<property name="tokenId" value="121"></property>
</bean>
<bean id="tokenmachine" class="com.surya.beans.TokenMachine" scope="singleton">
<lookup-method name="createToken" bean="token"/>


</bean>

</beans>